.nav {
  padding: 10px;
  padding-left: 10px !important;
  max-width: 290px;
  background: var(--bg-nav);
  width: 100%;
  flex: 1 0 0 auto;
  height: 100%;
  min-height: 100vh;
  position: fixed;
  left: 0;
}
.logo {
  font-size: 28px;
  color: var(--all-text);
  text-align: center;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
  font-weight: 900;
  color: var(--all-text);
  font-family: monospace;
}

.author {
  margin-top: auto;
  margin-bottom: 0;
  position: absolute;
  bottom: 17px;
  left: 50%;
  transform: translate(-50%, 0);
  color: var(--all-text);
  opacity: 0.5;
  cursor: pointer;
}
.open {
  display: none;
}

@media screen and (max-width: 800px) {
  .nav {
    top: 0;
    height: auto;
    min-height: auto;
    width: 100%;
    max-width: 100%;
    opacity: 30;
    position: fixed;
    z-index: 2;
    opacity: 0.8;
  }
  .logo {
    justify-content: start;
    width: auto;
    display: inline-block;
  }
  .author {
    display: none;
  }
  .open {
    display: block;
    position: absolute;
    width: 40px;
    height: 20px;
    top: 32px;
    cursor: pointer;
    right: 20px;
  }

  .open::before,
  .open::after,
  .open span {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    height: 10%;
    background: var(--all-text);
    transition: all 0.3s ease-in-out;
  }
  .open span {
    top: 50%;
    transform: translate(0, -50%);
  }
  .open::after {
    bottom: 0;
  }
  .open::before {
    top: 0;
  }
  .open.active span {
    width: 0;
  }
  .open.active::after {
    transform: rotate(-45deg) translateY(50%);
    bottom: 50%;
  }
  .open.active::before {
    transform: rotate(45deg) translateY(-50%);
    top: 50%;
  }
}
